<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Gigship Africa's Market For Freelance Services">
    <meta name="Author" content="PywE">
    <meta name="keywords" content="Freelance, Gigship, Job, Developer, Freelance Services, Freelancing" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/static/images/brand/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/brand/favicon.png" />

    <!-- Title -->
    <title>Gigship | Africa’s Market For Freelance Services!</title>

    <!-- Bootstrap Css -->
    <link href="/static/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="/static/css/style.css" rel="stylesheet" />

    <!-- Font-awesome  Css -->
    <link href="/static/css/icons.css" rel="stylesheet" />

    <!--Horizontal Menu-->
    <link href="/static/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
    <link href="/static/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />

    <!--Select2 Plugin -->
    <link href="/static/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- Owl Theme css-->
    <link href="/static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

    <!-- Cookie css -->
    <link href="/static/plugins/cookie/cookie.css" rel="stylesheet">

    <!-- Custom scroll bar css-->
    <link href="/static/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/color-skins/color-skins/color10.css" />
    <style>
    .hidden{
	    display:none !important;
        }
    .show{
	    display:block !important;
        }
    </style>
</head>

<body>

    <!--Loader-->
    <div id="global-loader">
        <img src="/static/images/loader.svg" class="loader-img" alt="">
    </div>

    <!--8b90c8f74797f6f652f7a44552b67855807f4cd1-->
    <!--Header Main-->
    <div class="header-main">
        <!--Top Bar-->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-sm-4 col-7">
                        <div class="top-bar-left d-flex">
                            <div class="clearfix">
                                <ul class="contact border-left">
                                    <li class="d-lg-none">
                                        <a href="#" class="callnumber"><span><i class="fa fa-phone mr-1"></i>: +233 20 359 2400</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-sm-8 col-5">
                        <div class="top-bar-right">
                            <ul class="custom">
                                <li>
                                    <a href="/accounts/add-gigs/" class="btn btn-secondary">Post Gigs</a>
                                </li>
                                {% if not user.is_authenticated %}
                                <li>
                                    <a href="/accounts/registration" class=""><i class="fa fa-user mr-1"></i> <span>Register</span></a>
                                </li>
                                <li>
                                    <a href="/accounts/login" class="">Login</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="/accounts/dashboard" class="">Dashboard</a>
                                </li>
                                <li>
                                    <a href="/accounts/logout" class="">Logout</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Top Bar-->

    <!-- Mobile Header -->
    <div class="horizontal-header clearfix ">
        <div class="container">
            <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            <span class="smllogo"><img src="/static/images/brand/logo-gigship.png" width="120" alt=""/></span>
            <!-- <a href="#" class="callusbtn bg-light"><i class="fa fa-bell text-body" aria-hidden="true"></i></a> -->
        </div>
    </div>
    <!-- /Mobile Header -->

    <!--Horizontal-main-->
    <div class="horizontal-main clearfix">
        <div class="horizontal-mainwrapper container clearfix">
            <div class="desktoplogo">
                <a href="/"><img src="/static/images/brand/logo-gigship.png" alt=""></a>
            </div>
            <div class="desktoplogo-1">
                <a href="/"><img src="/static/images/brand/logo-gigship.png" alt=""></a>
            </div>
            <!--Nav-->
            <nav class="horizontalMenu clearfix d-md-flex">
                <ul class="horizontalMenu-list">
                    <li><a href="/">Home</a></li>
                    {% if user.is_superuser %}
                    <li><a href="/admin">Administration</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="/chat">Chat Direct</a></li>
                    {% if user.user_type == "Gigger" %}
                        <li><a href="/accounts/add-gigs/">Add Gigs</a></li>
                    {% endif %}
                    {% endif %}
                    <li><a href="/how-it-works">How It Works</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/support">Support <span class="horizontal-arrow"></span></a></li>
                </ul>
            </nav>
            <!--/Nav-->
        </div>
    </div>
    <!--/Horizontal-main-->
    </div>
    <!--/Header Main-->
    <!-- Popup Intro-->
    <div id="messageModal" class="modal ">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <a class="close btn  btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
                    Close
                </a>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="item text-center">
                            <div class="row">
                                <div class="col-xl-8 col-md-12 d-block mx-auto">
                                    <div class="testimonia text-center">
                                        <img src="/static/images/svgs/jobs/work.svg" class="w-70 h-100 mb-5 mx-auto text-center" alt="image">
                                        <h3>Notification</h3>
                                        {% for message in messages %}
                                        <h5>{{message}}</h5>
                                        {% endfor %}
                                        <!-- <a href="" class="btn btn-primary  mb-3">Search</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Message modal -->
    <!--Template body inserted here-->

    {% block content %} {% endblock content %}
    <!-- Template body ends here -->
    <!--Footer Section-->
    <section>
        <footer class="bg-dark text-white cover-image" data-image-src="/static/images/banners/banner3.jpg">
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            <h6>Gig Categories</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Developement</a></li>
                                <li><a href="#">Designing</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Others</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            <h6>Gig Type</h6>
                            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Work from home</a></li>
                                <li><a href="#">Internship</a></li>
                                <li><a href="#">Part time</a></li>
                                <li><a href="#">Full time</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            <h6>Resources</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li><a href="/support">Support</a></li>
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <h6>Payments</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="payments mb-0">
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fa fa-cc-amex" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="payments-icon"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <h6 class="mb-2">Subscribe</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <div class="input-group w-100">
                                <input type="text" class="form-control " placeholder="Email">
                                <div class="input-group-append ">
                                    <button type="button" class="btn btn-primary "> Subscribe </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="text-white-50 border-top p-0">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-lg-8 col-md-8 col-sm-12  mt-2 mb-2 text-left ">
                            © Copyright
                            <script>
                                document.write(new Date().getFullYear())
                            </script> <a href="/" class="fs-14 text-white">Gigship</a>. Designed by <a href="https://www.pywe.org/" target="_blank" class="fs-14 text-white">PywE</a> All rights reserved.
                        </div>
                        <div class="col-lg-4 col-sm-12 ml-auto mb-2 mt-2 d-none d-lg-block">
                            <ul class="social mb-0">
                                <li>
                                    <a class="social-icon" href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href=""><i class="fa fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href=""><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-white p-0 border-top">
                <div class="container">
                    <div class="p-2 text-center footer-links">
                        <a href="/how-it-works" class="btn btn-link">How It Works</a>
                        <a href="#" class="btn btn-link">Our Team</a>
                        <!-- <a href="/create-resume" class="btn btn-link">Create Resume</a>
                        <a href="/post-job" class="btn btn-link">Submit a Job</a> -->
                        <a href="#" class="btn btn-link">Terms Of Conditions</a>
                    </div>
                </div>
            </div>

        </footer>
    </section>
    <!--Footer Section-->

    <!-- Notification -->
    <!-- <a href="advanced-search.html" id="notification"><span class="notification-text">Create Job Alert</span><i class="fa fa-bell"></i></a> -->

    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- JQuery js-->
    <script src="/static/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="https://www.pywe.org/static/js/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/static/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
    <script src="/static/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <!--JQuery Sparkline Js-->
    <script src="/static/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Circle Progress Js-->
    <script src="/static/js/vendors/circle-progress.min.js"></script>

    <!-- Star Rating Js-->
    <script src="/static/plugins/rating/jquery.rating-stars.js"></script>

    <!--Owl Carousel js -->
    <script src="/static/plugins/owl-carousel/owl.carousel.js"></script>

    <!--Horizontal Menu-->
    <script src="/static/plugins/horizontal/horizontal-menu/horizontal.js"></script>

    <!--Counters -->
    <script src="/static/plugins/counters/counterup.min.js"></script>
    <script src="/static/plugins/counters/waypoints.min.js"></script>

    <!--JQuery TouchSwipe js-->
    <script src="/static/js/jquery.touchSwipe.min.js"></script>

    <!--Select2 js -->
    <script src="/static/plugins/select2/select2.full.min.js"></script>
    <script src="/static/js/select2.js"></script>

    <!-- Cookie js -->
    <script src="/static/plugins/cookie/jquery.ihavecookies.js"></script>
    <script src="/static/plugins/cookie/cookie.js"></script>

    <!-- Count Down-->
    <script src="/static/plugins/count-down/jquery.lwtCountdown-1.0.js"></script>

    <!-- Ion.RangeSlider -->
    <script src="/static/plugins/jquery-uislider/jquery-ui.js"></script>

    <!-- Custom scroll bar Js-->
    <script src="/static/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- sticky Js-->
    <script src="/static/js/sticky.js"></script>

    <!-- Swipe Js-->
    <script src="/static/js/swipe.js"></script>

    <!-- Scripts Js-->
    <script src="/static/js/scripts2.js"></script>

    <!-- Ion.RangeSlider -->
    <script src="/static/plugins/jquery-uislider/jquery-ui.js"></script>

    <!--Showmore Js-->
    <script src="/static/js/jquery.showmore.js"></script>
    <script src="/static/js/showmore.js"></script>

    <!-- Custom Js-->
    <script src="/static/js/custom.js"></script>
    {% if messages %}
    <script>
        $("#messageModal").modal('show');
    </script>
    {% endif %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/static/js/search.js"></script>
</body>

</html>