{% extends "accounts/base.html" %} {% block content %}
<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3 sptb-2" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h1 class="">How It Works</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">How It Works</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->

<!--How to work-->
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Four Simple Processes</h2>
            <p>Earn Money by Following Four Simple Steps</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-lg-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-light icon-bg icon-service text-purple about">
                                <img src="/static/images/products/about/account-creation.png" alt="Create account">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Create Account</h4>
                                <p class="text-muted mb-0">Create your account today and start earning money.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-lg-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-light icon-bg icon-service text-purple about">
                                <img src="/static/images/products/about/Skills-and-competence.png" alt="add your Skills">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Add Your Skills</h4>
                                <p class="text-muted mb-0">Add your skills competences to your profil.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-sm-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-light icon-bg icon-service text-purple about">
                                <img src="/static/images/products/about/Job-Search.png" alt="Search for Job">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Complete Tasks</h4>
                                <p class="text-muted mb-0">Get works done from employers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="">
                        <div class="service-card text-center">
                            <div class="bg-light icon-bg icon-service text-purple about">
                                <img src="/static/images/products/about/get-paid.png" alt="Get paid">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Get Paid</h4>
                                <p class="text-muted mb-0">Get your paid for the works done at the end.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/How to work-->

<!--post section-->
<section>
    <div class="cover-image sptb bg-background-color" data-image-src="/static/images/banners/banner4.jpg">
        <div class="content-text mb-0">
            <div class="container">
                <!-- <div class="text-center text-white section-title pb-0">
                    <h2 class="mb-2 display-5">You don't have a resume? Don't worry! Create it Now!</h2>
                    <p>Create your perfect resume with our online professional Resume Creator.</p>
                    <div class="mt-5">
                        <a href="/create-resume" class="btn btn-secondary">Create Resume</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!--/post section-->

<!--section-->
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Why Choose Us?</h2>
            <!-- <p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p> -->
        </div>
        <div class="row ">
            <div class="col-md-6 col-lg-4 features">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold">Job Security</h3>
                            <p>Get 1000 of Freelance available to get your work done.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold"> Jobs Notifications Available</h3>
                            <p>Get notified when new Jobs are Posted.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-lg-0 bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold">100% Job Assistance</h3>
                            <p>Get assistance to help your complete your task.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-lg-0 mb-md-0 bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold">User Friendly</h3>
                            <p>Our Platform is user friendly, accessible on all devices</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 features">
                <div class="card mb-0 bg-light">
                    <div class="card-body text-center">
                        <div class="feature">
                            <h3 class="font-weight-bold">24/7 Support</h3>
                            <p>Get support from our support-team 24/7.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/section-->

<!--post section-->
<section>
    <div class="cover-image sptb bg-background-color" data-image-src="/static/images/banners/banner4.jpg">
        <div class="content-text mb-0">
            <div class="container">
                <!-- <div class="text-center text-white section-title pb-0">
                    <h2 class="mb-2 display-5">You don't have a resume? Don't worry! Create it Now!</h2>
                    <p>Create your perfect resume with our online professional Resume Creator.</p>
                    <div class="mt-5">
                        <a href="/create-resume" class="btn btn-secondary">Create Resume</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!--/post section-->


{% endblock content %}