{% extends "accounts/base.html" %}
{% block content %}
<!-- Popup Intro-->
		<div id="myModal" class="modal ">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header border-bottom-0">
						<a class="close btn  btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
							Skip
						</a>
					</div>
					<div class="modal-body">
						<div id="popupcarousel" class="owl-carousel testimonial-owl-carousel4">
							<div class="item text-center">
								<div class="row">
									<div class="col-xl-8 col-md-12 d-block mx-auto">
										<div class="testimonia text-center">
											<img src="/static/images/products/intro/search.svg" class="w-70 h-100 mb-5 mx-auto text-center" alt="image">
											<h3>Search Job</h3>
											<p>
											Now You Become a Part of Our Website<br>
											rejoin is free classified ads website template with awesome responsive webOffline.
											It has a huge collection of widgets</p>
											<a href="" class="btn btn-primary  mb-3">Search</a>
										</div>
									</div>
								</div>
							</div>
							<div class="item text-center">
								<div class="row">
									<div class="col-xl-8 col-md-12 d-block mx-auto">
										<div class="testimonia text-center">
											<img src="/static/images/products/intro/join.svg" class="w-70 mb-5 mx-auto text-center" alt="image">
											<h3>Join With Us</h3>
											<p>
											Now You Become a Part of Our Website<br>
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in humour</p>
											<a href="" class="btn btn-primary  mb-3">Join</a>
										</div>
									</div>
								</div>
							</div>
							<div class="item text-center">
								<div class="row">
									<div class="col-xl-8 col-md-12 d-block mx-auto">
										<div class="testimonia text-center">
											<img src="/static/images/products/intro/notification.svg" class="w-55 h-100 mb-5 mx-auto text-center" alt="image">
											<h3>Get Notifications</h3>
											<p>Now You Become a Part of Our Website<br>
												There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in humour</p>
											<a href="settings.html" class="btn btn-primary  mb-3">Change</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Popup Intro -->

		<!--Sliders Section-->
		<section>
			<div class="banner-1 cover-image sptb-2 sptb-tab bg-background2" data-image-src="/static/images/banners/banner1.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white mb-7">
							<h1 class="mb-1">Welcome to Africa’s Market For Freelance Services!</h1>
							<p>Find The Best Job and Build Your Future.</p>
						</div>
						<div class="row">
							<div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
								<div class="search-background bg-transparent">
									<div class="form row no-gutters ">
										<div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white ">
											<input type="text" class="form-control input-lg br-tr-md-0 br-br-md-0" id="text4" placeholder="Enter Your Keywords">
										</div>
										<!-- <div class="form-group  col-xl-3 col-lg-3 col-md-12 mb-0 bg-white">
											<input type="text" class="form-control input-lg br-md-0" id="text5" placeholder="Select Location">
											<span><img src="/static/images/svg/gps.svg" class="location-gps"></span>
										</div> -->
										<div class="form-group col-xl-3 col-lg-3 col-md-12 select2-lg  mb-0 bg-white">
											<select class="form-control select2-show-search  border-bottom-0" data-placeholder="Select Category">
												<optgroup label="Categories">
													<option>All Categories</option>
													<option value="1">Accountant</option>
													<option value="2">IT Software</option>
													<option value="3">Banking</option>
													<option value="4">Finaces</option>
													<option value="5">Cook/Chef</option>
													<option value="6">Driveing</option>
													<option value="7">HR Recruiter</option>
													<option value="8">IT Hardware</option>
													<option value="9">Sales</option>
												</optgroup>
											</select>
										</div>
										<div class="col-xl-2 col-lg-3 col-md-12 mb-0">
											<a href="#" class="btn btn-lg btn-block btn-secondary br-tl-md-0 br-bl-md-0">Search Here</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /header-text -->
			</div>
		</section>
		<!--Sliders Section-->
		<!--Section-->
		<section class="sptb">
			<div class="container">
				<div class="section-title center-block text-center">
					<h1>Latest Jobs</h1>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="panel panel-primary">
					<div class="">
						<div class="tabs-menu ">
							<!-- Tabs -->
							<ul class="nav panel-tabs jobs-tabs mb-6">
								<li class=""><a href="#index1" class="active show" data-toggle="tab">All</a></li>
								<li><a href="#index2" data-toggle="tab" class="">Full Time Jobs</a></li>
								<li><a href="#index3" data-toggle="tab" class="">Part Time Jobs</a></li>
								<li><a href="#index4" data-toggle="tab" class="">Work From Home Jobs</a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane active show" id="index1">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Wanted Best Chefs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 10,000-20,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img1.jpg" class="avatar brround avatar-md mr-2" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default fs-13">G Technicals Solutions</a>
														<small class="d-block text-muted">2 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Data Entry Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 10,000-15,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img2.jpg" class="avatar brround avatar-md mr-2" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Rosita Chatmon</a>
														<small class="d-block text-muted">2 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">HR Recruiter Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 30,000-40,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img3.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Aracely Bashore</a>
														<small class="d-block text-muted">5 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Wanted to Drivers</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 20,000-25,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img4.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Joanne Nash</a>
														<small class="d-block text-muted">4 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Sales Executive Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 10,000-15,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Part Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img5.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Rosita Chatmon</a>
														<small class="d-block text-muted">2 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Telecaller Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 15,000-20,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Part Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img6.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Loyd Nolf</a>
														<small class="d-block text-muted">3 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="index2">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Wanted Best Chefs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 10,000-20,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img1.jpg" class="avatar brround avatar-md mr-2" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default fs-13">G Technicals Solutions</a>
														<small class="d-block text-muted">2 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Data Entry Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 10,000-15,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img2.jpg" class="avatar brround avatar-md mr-2" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Rosita Chatmon</a>
														<small class="d-block text-muted">2 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">HR Recruiter Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 30,000-40,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img3.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Aracely Bashore</a>
														<small class="d-block text-muted">5 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="index3">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card overflow-hidden">
											<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Wanted to Drivers</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 20,000-25,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img4.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Joanne Nash</a>
														<small class="d-block text-muted">4 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Sales Executive Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 10,000-15,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Part Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img5.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Rosita Chatmon</a>
														<small class="d-block text-muted">2 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Telecaller Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 15,000-20,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Part Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img6.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Loyd Nolf</a>
														<small class="d-block text-muted">3 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="index4">
								<div class="row">
									<div class="col-xl-4 col-md-6">
										<div class="card">
											<div class="card-body">
												<div class="item-card7-desc">
													<div class="item-card7-text">
														<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Telecaller Jobs</h4></a>
													</div>
													<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
												</div>
											</div>
											<div class="card-body py-2">
												<a href="mr-4" class="icons font-weight-semibold text-body"><i class="fa fa-usd  text-muted mr-1"></i> 15,000-20,000</a>
												<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Part Time Job</a>
											</div>
											<div class="card-body py-2">
												<div class="d-flex align-items-center mt-auto">
													<img src="/static/images/products/logo/img6.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
													<div>
														<a href="profile.html" class="text-default">Loyd Nolf</a>
														<small class="d-block text-muted">3 days ago</small>
													</div>
													<div class="ml-auto text-muted">
														<a href="jobs.html" class="btn  btn-sm btn-secondary text-white">See Details</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="" class="btn  btn-primary "> View More</a>
					</div>
				</div>
			</div>
		</section>
		<!--/Latest Jobs-->
			</div>
		</section>
		<!--Sections-->
{% endblock content %}