{% extends "accounts/base.html" %} {% block content %}
<!-- Popup Intro-->
<div id="myModal" class="modal ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <a class="close btn  btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
                    Skip
                </a>
            </div>
            <div class="modal-body">
                <div id="popupcarousel" class="owl-carousel testimonial-owl-carousel4">
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia text-center">
                                    <img src="/static/images/products/intro/search.svg"
                                        class="w-70 h-100 mb-5 mx-auto text-center" alt="image">
                                    <h3>Search Giggers</h3>
                                    <p>
                                        Get the best giggers now</p>
                                    <a href="#" class="btn btn-primary  mb-3">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia text-center">
                                    <img src="/static/images/products/intro/join.svg"
                                        class="w-70 mb-5 mx-auto text-center" alt="image">
                                    <h3>Join Us</h3>
                                    <p>Add a Gig and get hired</p>
                                    <a href="#" class="btn btn-primary  mb-3">Join</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia text-center">
                                    <img src="/static/images/products/intro/notification.svg"
                                        class="w-55 h-100 mb-5 mx-auto text-center" alt="image">
                                    <h3>Simply Gigship</h3>
                                    <p>People ship goods, we ship Gigs</p>
                                    <a href="#" class="btn btn-primary  mb-3">Change</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Popup Intro -->

<!--Sliders Section-->
<section>
    <div class="banner-1 cover-image sptb-2 sptb-tab bg-background2"
        data-image-src="/static/images/banners/banner1.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white mb-7">
                    <h1 class="mb-1">Welcome to Africa’s No. 1 Market For Gigs!</h1>
                    <p>Find The Best Giggers and Get Your Gig Done.</p>
                </div>
                <div class="row">
                    <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                        <div class="search-background bg-transparent">
                            <div class="form row no-gutters ">
                                <div class="form-group  col-xl-8 col-lg-8 col-md-12 mb-0 bg-white ">
                                    <input id="query" name="q" type="text"
                                        class="form-control input-lg br-tr-md-0 br-br-md-0" id="text4"
                                        placeholder="Get giggers for a gig">
                                </div>

                                <!--<div class="form-group col-xl-5 col-lg-5 col-md-12 select2-lg  mb-0 bg-white">-->
                                <!--    <select id="category" name="category"-->
                                <!--        class="form-control select2-show-search  border-bottom-0"-->
                                <!--        data-placeholder="Select Category" name="firstcategory">-->
                                <!--        <optgroup label="Categories">-->
                                <!--            <option>All Categories</option>-->
                                <!--            {% for category in categories %}-->
                                <!--            <option value="{{category.name}}">{{category.name}}</option>-->
                                <!--            {% endfor %}-->

                                <!--        </optgroup>-->
                                <!--    </select>-->
                                <!--</div>-->
                                <div class="col-xl-3 col-lg-4 col-md-12 mb-0">
                                    <a id="search-btn" href="/accounts/services/"
                                        class="btn btn-lg btn-block btn-secondary br-tl-md-0 br-bl-md-0">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p style="height:230px;"></p>
        <!-- /header-text -->
    </div>

</section>
<!--Sliders Section-->
<!--Section-->
</div>
</section>
<!--Sections-->
{% if not user.is_authenticated %}
<!-- Script to redirect unregistered or non logged in mobile users -->
<script>
    window.onload = function Load() {
        if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(
                /Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(
            /WebOs/i)) { // detect mobile browser
            window.location.replace(
            "https://gigship.pywe.org/accounts/registration/"); // redirect if mobile browser detected
        }
    }
</script>
{% endif %}
<script src="https://pharst.pywe.org/static/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        document.getElementById('query').onkeyup = function (e) {
            if (e.keyCode === 13) {
                document.getElementById('search-btn').click();
            }

        }
        // when search button at home page is clicked
        $('#search-btn').on("click", function (event) {
            // we save what the user searched for
            var query = $("#query").val()
            if(query ===""){
                event.preventDefault();
            }else{
            var category = ""
            const search = {
                q: query,
                category:category
            }
            localStorage.setItem('query', JSON.stringify(search))}
            // console.log(search)
        });

    });
</script>
{% endblock content %}