{% extends "accounts/base.html" %} {% block content %}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<style>
    .scrolling-wrapper {
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        white-space: nowrap !important;

    }

    .scrolling-wrapper .img {
        display: inline-block !important;
    }

    .slick-arrow {
        display: none !important;
    }
</style>

<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="/static/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="text-center text-white">
                <h1 class="">My Gigs</h1>
                <ol class="breadcrumb text-center">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">My Dashboard </a></li>
                    <li class="breadcrumb-item active text-white" aria-current="page">My Gigs</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->

<!--User Dashboard-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">My Dashboard</h3>
                    </div>
                    <div class="card-body text-center item-user border-bottom">
                        <div class="card-body text-center item-user border-bottom">
                            <div class="profile-pic">
                                <div class="profile-pic-img">
                                    <span class="bg-success dots" data-toggle="tooltip" data-placement="top"
                                        title="online"></span>
                                    {% if user.user_img %}
                                    <img src="{{user.user_img.url}}" class="brround" alt="user">

                                    {% else %}
                                    <img src="/static/images/users/male/25.jpg" class="brround" alt="user">
                                    {% endif %}
                                </div>
                                <a href="#" class="text-dark">
                                    <h4 class="mt-3 mb-0 font-weight-semibold">{{user.username}}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item1-links  mb-0">
                        <a href="/dashboard" class="d-flex border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-edit fs-20"></i></span> Edit Profile
                        </a>
                        <a href="/accounts/myorders/" class="d-flex  border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-shopping-cart fs-20"></i></span> Orders
                        </a>
                        <a href="/accounts/mygigs/" class="active  d-flex border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-briefcase fs-20"></i></span> My Gigs
                        </a>
                        <a href="/accounts/settings/" class="d-flex border-bottom">
                            <span class="icon1 mr-2"><i class="typcn typcn-cog-outline fs-20"></i></span> Settings
                        </a>
                        <a href="/accounts/logoutl" class="d-flex">
                            <span class="icon1 mr-2"><i class="typcn typcn-power-outline fs-20"></i></span> Logout
                        </a>
                    </div>
                </div>
            </div>
            <dcd iv class="col-xl-9 col-lg-12 col-md-12">
                <div class="card mb-0">

                    <!--Job lists-->
                    <div class=" mb-lg-0">
                        <div class="">
                            <div class="item2-gl">
                                <div class=" mb-0">
                                    <div class="">
                                        <div class="p-5 bg-white item2-gl-nav d-flex">
                                            <h6 class="mb-0 mt-3">Showing <b>1 to 10</b> of Total Number of Entries</h6>
                                            <ul class="nav item2-gl-menu mt-1 ml-auto">

                                            </ul>
                                            <div class="d-flex">
                                                <label class="mr-2 mt-2 mb-sm-1">Sort By:</label>
                                                <select name="item" class="form-control select2-no-search w-70">
                                                    <option value="1">Relavant</option>
                                                    <option value="2">Newest First</option>
                                                    <option value="3">Highest Paid</option>
                                                    <option value="4">Loweest Paid</option>
                                                    <option value="5">High Ratings</option>
                                                    <option value="6">Popular</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-11">
                                        <div class="card overflow-hidden br-0 overflow-hidden">
                                            <div class="d-md-flex">
                                                <div class="p-0 m-0 item-card9-img">
                                                    <div class="item-card9-imgs">
                                                        <div class="scrolling-wrapper">
                                                            <div class="img">
                                                                <img src="/static/services/bnw.png" alt="img">
                                                            </div>
                                                            <div class="img">
                                                                <img src="/static/services/logo_color.png" alt="img">
                                                            </div>
                                                            <div class="img">
                                                                <img src="/static/images/products/products/ed1.jpg"
                                                                    alt="img">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="card overflow-hidden  border-0 box-shadow-0 border-left br-0 mb-0">
                                                    <div class="card-body pt-0 pt-md-5">
                                                        <div class="item-card9">
                                                            <a href="#" class="text-dark">
                                                                <h4 class="font-weight-semibold mt-1">Services</h4>
                                                            </a>
                                                            <div class="mt-2 mb-2">
                                                                <a href="#" class="mr-4"><span>
                                                                        Starting Prirce GHC:150</span></a>
                                                            </div>
                                                            <p class="mb-0 leading-tight">On the other hand, we denounce
                                                                with righteous indignation and dislike men who are so
                                                                beguiled and demoralized by the charms of pleasure of
                                                                the moment</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer pt-3 pb-3">
                                                        <div class="item-card9-footer d-flex">
                                                            <div
                                                                class="d-flex align-items-center mb-3 mb-md-0 mt-auto posted">

                                                            </div>
                                                            <div class="ml-auto mr-0">
                                                                <a href="ad-posts.html"
                                                                    class="btn btn-info btn-sm text-white"
                                                                    data-toggle="tooltip"
                                                                    data-original-title="Edit Post"><i
                                                                        class="fa fa-pencil"></i></a>
                                                                <a class="btn btn-danger btn-sm text-white"
                                                                    data-toggle="tooltip"
                                                                    data-original-title="Delete"><i
                                                                        class="fa fa-trash-o"></i></a>
                                                                <a class="btn btn-success btn-sm text-white"
                                                                    data-toggle="tooltip" data-original-title="Share"><i
                                                                        class="fa fa-share"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/Job lists-->

                </div>
            </dcd iv>
        </div>
    </div>
</section>
<script src="https://pharst.pywe.org/static/js/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
<!--User Dashboard-->
{% endblock content %}