{% extends "accounts/base.html" %} {% block content %}
<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="/static/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="">Register</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Registration Page</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->

<!--Registter Section-->
<section class="sptb">
    <div class="container customerpage">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-md-12 register-right">
                        <ul class="nav nav-tabs nav-justified mb-5 p-2 border" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active m-1" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link m-1" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Login</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="single-page  w-100  p-0">
                                    <div class="wrapper wrapper2">
                                        <!-- <div class="p-4 mb-5">
												<h4 class="text-left font-weight-semibold fs-16">Login With</h4>
												<div class="btn-list d-sm-flex">
													<a href="https://www.google.com/gmail/" class="btn btn-primary mb-sm-0"><i class="fa fa-google fa-1x mr-2"></i> Google</a>
													<a href="https://twitter.com/" class="btn btn-secondary mb-sm-0"><i class="fa fa-twitter fa-1x mr-2"></i> Twitter</a>
													<a href="https://www.facebook.com/" class="btn btn-info mb-0"><i class="fa fa-facebook fa-1x mr-2"></i> Facebook</a>
												</div>
											</div> -->
                                        <!-- <hr class="divider"> -->
                                        <form id="Register" class="card-body" tabindex="500">
                                            <h3 class="pb-2">Register</h3>
                                            <div class="name">
                                                <input type="text" name="name">
                                                <label>Name</label>
                                            </div>
                                            <div class="mail">
                                                <input type="email" name="mail">
                                                <label>Mail</label>
                                            </div>
                                            <div class="passwd">
                                                <input type="password" name="password">
                                                <label>Password</label>
                                            </div>
                                            <div class="submit">
                                                <a class="btn btn-primary btn-block" href="#">Register</a>
                                            </div>
                                            <p class="text-dark mb-0">Already have an account?<a href="/login" class="text-primary ml-1">Sign In</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="single-page w-100  p-0">
                                    <div class="wrapper wrapper2">
                                        <!-- <div class="p-4 mb-5">
												<h4 class="text-left font-weight-semibold fs-16">Register With</h4>
												<div class="btn-list d-sm-flex">
													<a href="https://www.google.com/gmail/" class="btn btn-primary mb-sm-0"><i class="fa fa-google fa-1x mr-2"></i> Google</a>
													<a href="https://twitter.com/" class="btn btn-secondary mb-sm-0"><i class="fa fa-twitter fa-1x mr-2"></i> Twitter</a>
													<a href="https://www.facebook.com/" class="btn btn-info mb-0"><i class="fa fa-facebook fa-1x mr-2"></i> Facebook</a>
												</div>
											</div> -->
                                        <!-- <hr class="divider"> -->
                                        <form id="login" class="card-body" tabindex="500">
                                            <h3 class="pb-2">Login</h3>
                                            <div class="mail">
                                                <input type="email" name="mail">
                                                <label>Mail or Username</label>
                                            </div>
                                            <div class="passwd">
                                                <input type="password" name="password">
                                                <label>Password</label>
                                            </div>
                                            <div class="submit">
                                                <a class="btn btn-primary btn-block" href="#">Login</a>
                                            </div>
                                            <p class="mb-2"><a href="/forgot">Forgot Password</a></p>
                                            <p class="text-dark mb-0">Don't have account?<a href="/registration" class="text-primary ml-1">Sign UP</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Register Section-->

{% endblock content %}