{% extends "accounts/base.html" %} {% block content %}
<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="/static/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="">Register</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Registration Page</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->

<!--Registter Section-->
<section class="sptb">
    <div class="container customerpage">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-md-12 register-right">
                        <ul class="nav nav-tabs nav-justified mb-5 p-2 border" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active m-1" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link m-1" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Login</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="single-page  w-100  p-0">
                                    <div class="wrapper wrapper2">
                                        <form method="POST" action="/accounts/registration/" id="Register" class="card-body" tabindex="500">
                                            <h3 class="pb-2">Register</h3>
                                            {% csrf_token %}
                                            <div class="name">
                                                <input type="text" name="username" required="required">
                                                <label>Username</label>
                                            </div>
                                            <div class="mail">
                                                <input type="email" name="email" required="required">
                                                <label>Email</label>
                                            </div>
                                            <div class="passwd">
                                                <input type="password" name="password" required="required">
                                                <label>Password</label>
                                            </div>
                                           <div>
                                        <div class="form-group select2-lg bg-white" id="type1">
                                                <p style="color:blue;">Choose Two Primary Gig Categories that you have much experience at below</p>

                                            <select required="required" id="category1" name="category1" class="form-control select2-show-search  border-bottom-0" data-placeholder="Select Account Type">
                                                <optgroup label="type1">
                                                    <option disabled selected>First</option>
                                                    {% for category in categories %}
                                                        <option value="{{category.name}}">{{category.name}}</option>
                                                    {% endfor %}
                                                </optgroup>
										    </select>
                                        </div>
                                        <div class="form-group select2-lg bg-white" id="type2">
                                            <select required="required" id="category2" name="category2" class="form-control select2-show-search  border-bottom-0" data-placeholder="Select Account Type">
                                                <optgroup label="type2">
                                                    <option disabled selected>Second</option>
                                                    {% for category in categories %}
                                                        <option value="{{category.name}}">{{category.name}}</option>
                                                    {% endfor %}
                                                    <!--<option value="IT Software">IT Software</option>-->
                                                    <!--<option value="Music">Music</option>-->
                                                    <!--<option value="Banking">Banking</option>-->
                                                    <!--<option value="Finances">Finaces</option>-->
                                                    <!--<option value="Cooking">Cook/Chef</option>-->
                                                    <!--<option value="Driving">Driving</option>-->
                                                    <!--<option value="HR Recruiter">HR Recruiter</option>-->
                                                    <!--<option value="IT Hardware">IT Hardware</option>-->
                                                    <!--<option value="Sales">Sales</option>-->
                                                </optgroup>
										    </select>
                                        </div>

                                           </div>
                                            <div class="submit">
                                                <input type="submit" class="btn btn-primary btn-block" value="Register">
                                            </div>
                                            <!-- <p class="text-dark mb-0">Already have an account?<a href="/login" class="text-primary ml-1">Sign In</a></p> -->
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="single-page w-100  p-0">
                                    <div class="wrapper wrapper2">
                                        <!-- <div class="p-4 mb-5">
												<h4 class="text-left font-weight-semibold fs-16">Register With</h4>
												<div class="btn-list d-sm-flex">
													<a href="https://www.google.com/gmail/" class="btn btn-primary mb-sm-0"><i class="fa fa-google fa-1x mr-2"></i> Google</a>
													<a href="https://twitter.com/" class="btn btn-secondary mb-sm-0"><i class="fa fa-twitter fa-1x mr-2"></i> Twitter</a>
													<a href="https://www.facebook.com/" class="btn btn-info mb-0"><i class="fa fa-facebook fa-1x mr-2"></i> Facebook</a>
												</div>
											</div> -->
                                        <!-- <hr class="divider"> -->
                                        <form method="POST" action="/accounts/login/" id="login" class="card-body" tabindex="500">
                                            <h3 class="pb-2">Login</h3>
                                            {% csrf_token %}
                                            <!--{% if messages %}-->
                                            <!--<div>-->
                                            <!--<ul>-->
                                            <!--    {% for message in messages %}-->
                                            <!--    <li style="color:red;">{{ message }}</li>-->
                                            <!--    {% endfor %}-->
                                            <!--</ul>-->
                                            <!--</div>-->
                                            <!--{% endif %}-->
                                            <div class="mail">
                                                <input type="text" name="username">
                                                <label>Username</label>
                                            </div>
                                            <div class="passwd">
                                                <input type="password" name="password">
                                                <label>Password</label>
                                            </div>
                                            <div class="submit">
                                                <input type="submit" class="btn btn-primary btn-block" value="login">
                                            </div>
                                            <p class="mb-2"><a href="/forgot">Forgot Password</a></p>
                                            <!-- <p class="text-dark mb-0">Don't have account?<a href="/registration" class="text-primary ml-1">Sign UP</a></p> -->
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Register Section-->

{% endblock content %}