{% extends "accounts/base.html" %} {% block content %}
<!-- Form widget -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-blog-img  minh-210 br-2  spacing">
            <div class="card-body">
                <div class="search-background bg-transparent">
                    <div class="form row no-gutters ">
                        <div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white">
                            <input type="text" class="form-control input-lg br-tr-md-0 br-br-md-0" placeholder="Enter Your Keywords">
                        </div>

                        <div class="form-group  col-xl-2 col-lg-2 col-md-12 mb-0 ">
                            <a href="#" class="btn btn-lg btn-block btn-secondary br-tl-md-0 br-bl-md-0">Search Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end form widget -->


		<!--Breadcrumbs Section-->
		<div class="sptb-1">
			<div class="container">

				<div class="row">
					<div class="col-xl-4 col-md-6">
						<div class="card overflow-hidden">
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="/static/images/products/products/ed1.jpg" alt="img" class="cover-image">
                                </div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<div class="item-card7-text">
										<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Wanted For Chef</h4></a>
									</div>
									<ul class="d-flex mt-2">
										<li class=""><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i> USA</a></li>
										<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i>1 min ago</a></li>
										<li class=""><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 14 675 65</a></li>
									</ul>
									<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
								</div>
							</div>
							<div class="card-body">
								<a href="mr-4" class="icons"><i class="fa  fa-inr text-muted mr-1"></i> 10,000-20,000</a>
								<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
							</div>
							<div class="card-body">
								<div class="d-flex align-items-center pt-2 mt-auto">
									<img src="/static/images/users/male/7.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
									<div>
										<a href="profile.html" class="text-default">Tanner Mallari</a>
										<small class="d-block text-muted">2 days ago</small>
									</div>
									<div class="ml-auto text-muted">
										<a class="btn btn-warning text-white">See Details</a>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    
					<div class="col-xl-4 col-md-6">
						<div class="card overflow-hidden">
							<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="/static/images/products/products/ed3.jpg" alt="img" class="cover-image">
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<div class="item-card7-text">
										<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Data Entry Jobs</h4></a>
									</div>
									<ul class="d-flex">
										<li class=""><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i> London</a></li>
										<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i>10 mins ago</a></li>
										<li class=""><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 14 675 65</a></li>
									</ul>
									<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
								</div>
							</div>
							<div class="card-body">
								<a href="mr-4" class="icons"><i class="fa  fa-inr text-muted mr-1"></i> 10,000-15,000</a>
								<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
							</div>
							<div class="card-body">
								<div class="d-flex align-items-center pt-2 mt-auto">
									<img src="/static/images/users/male/8.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
									<div>
										<a href="profile.html" class="text-default">Rosita Chatmon</a>
										<small class="d-block text-muted">2 days ago</small>
									</div>
									<div class="ml-auto text-muted">
										<a class="btn btn-warning text-white">See Details</a>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    
					<div class="col-xl-4 col-md-6">
						<div class="card overflow-hidden">
							<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="/static/images/products/products/ed2.jpg" alt="img" class="cover-image">
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<div class="item-card7-text">
										<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">HR Recruiter Jobs</h4></a>
									</div>
									<ul class="d-flex">
										<li class=""><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i> London</a></li>
										<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i>10 mins ago</a></li>
										<li class=""><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 14 675 65</a></li>
									</ul>
									<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
								</div>
							</div>
							<div class="card-body">
								<a href="mr-4" class="icons"><i class="fa  fa-inr text-muted mr-1"></i> 30,000-40,000</a>
								<a class="mr-4 float-right"><i class="fa fa-clock-o  text-muted mr-1"></i>Full Time Job</a>
							</div>
							<div class="card-body">
								<div class="d-flex align-items-center pt-2 mt-auto">
									<img src="/static/images/users/female/8.jpg" class="avatar brround avatar-md mr-3" alt="avatar-img">
									<div>
										<a href="profile.html" class="text-default">Aracely Bashore</a>
										<small class="d-block text-muted">5 days ago</small>
									</div>
									<div class="ml-auto text-muted">
										<a class="btn btn-warning text-white">See Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        
        <script type="text/javascript">
            $('.cover-image').slick();
          </script>

	
{% endblock content %}