{% extends "accounts/base.html" %} {% block content %}
<!-- Form widget -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<style>

.scrolling-wrapper {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;

}
 .scrolling-wrapper .img{
    display: inline-block !important;
  }
  .slick-arrow{
	  display:none !important;
  }
  </style>
<div class="row">
    <div class="col-md-12">
        <div class="card card-blog-img  minh-210 br-2  spacing">
            <!-- <div class="card-body"> -->
                <div class="search-background bg-transparent">
                    <div class="form row no-gutters ">
                        <div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white">
                            <input id="query" type="text" class="form-control input-lg br-tr-md-0 br-br-md-0" placeholder="Enter Your Keywords">
                        </div>

                        <div class="form-group  col-xl-2 col-lg-2 col-md-12 mb-0 ">
                            <a id="search-btn" href="#" class="btn btn-lg btn-block btn-secondary br-tl-md-0 br-bl-md-0">Search Here</a>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
<!-- end form widget -->


		<!--Breadcrumbs Section-->
		<div class="sptb-1">
			<div class="container">
				<div class="row" id="found-gigs">
					<!-- card to show found gigs -->
				</div>
			</div>
        </div>
		<!--<script src="https://pharst.pywe.org/static/js/jquery.min.js"></script>-->

				</div>
			</div>
        </div>
		<script src="https://www.pywe.org/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src="/static/js/axios.min.js"></script>
        <script type="text/javascript" src="/static/js/search.js"></script>



{% endblock content %}